<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>Contact List</h2>
    </div>
    <div class="col-sm-8">
      <div class="title-action">
        <a href="javascript:void(0);" [routerLink]="['/contacts/create']" class="btn btn-primary pull-right">
          <i class="fa fa-plus-circle"></i> Add New Contact</a>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <div class="row mb-3">
      <div class="col-5">
        <input type="search" class="form-control" value="" #txtFilterList (keyup.enter)="filterList()" />
      </div>
      <div class="col">
        <button class="btn btn-primary mr-2" (click)="filterList()">Filter</button>
        <button class="btn btn-danger" (click)="resetFilter()">Reset</button>
      </div>
    </div>
    
    
    <ngx-datatable class="material striped" [rowHeight]="50" [rows]="contacts" [columns]="columns" [selected]="selected"
      [selectionType]="SelectionType.single" (select)="onSelect($event)" [sortType]="SortType.multi" [limit]="25"
      [footerHeight]="50" [headerHeight]="50">
    </ngx-datatable>

  </div>
</div>
